<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Hương Quế</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div id="app">
      <div class="min-h-screen bg-gray-100">
        <img
          src="/image/bannerHQ.jpg"
          alt=""
          class="md:h-[60vh] w-full object-cover object-top"
        />

        <div
          class="max-w-full px-4 py-12 mx-auto"
          style="
            background-image: url(/image/bg-red.jpg);
            background-position: center;
            background-size: cover;
          "
        >
          <!-- Màn hình chọn chủ đề -->

          <h1
            class="pb-4 text-2xl font-bold text-center text-white md:text-4xl"
          >
            HƯƠNG QUẾ AI
          </h1>

          <div
            v-if="!selectedTopic"
            class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-5"
          >
            <button
              v-for="(topic, key) in topics"
              :key="key"
              @click="selectTopic(key)"
              class="flex flex-col items-center p-4 h-[220px] text-center text-white transition-colors duration-200 bg-[#6b0d1b] rounded-lg hover:bg-red-700"
            >
              <img
                :src="topic.icon"
                :alt="topic.name"
                class="p-4 bg-white rounded-full w-[80px] object-contain mt-4"
              />
              <span class="mt-6 text-lg font-semibold">{{ topic.name }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          const selectedTopic = ref(null);
          const topics = {
            AI_XU_LY: {
              name: "AI - Xử lý từ chối tuyển sỉ",
              icon: "/image/phone-call-svgrepo-com.svg",
            },
            AI_PHAP_LUAT: {
              name: "AI - Pháp luật",
              icon: "/image/trial-law-svgrepo-com.svg",
            },
            AI_KE_HOACH: {
              name: "AI - Kế hoạch tuyển sỉ",
              icon: "/image/plan-svgrepo-com.svg",
            },
            AI_KICH_BAN: {
              name: "AI - Kịch bản tuyển sỉ",
              icon: "/image/plan-idea-svgrepo-com.svg",
            },
            AI_NGHIEN_CUU: {
              name: "AI - Nghiên cứu đối thủ",
              icon: "/image/magnifying-glass-search-svgrepo-com.svg",
            },
            AI_CONTENT: {
              name: "AI - Content đăng bài tuyển sỉ 90 ngày",
              icon: "/image/idea-bulb-light-svgrepo-com.svg",
            },
            AI_TRUYEN_CAM_HUNG: {
              name: "AI - Truyền cảm hứng cho đội nhóm",
              icon: "/image/talking-svgrepo-com.svg",
            },
            AI_PHAN_BAN_HANG: {
              name: "AI - Phễu bán hàng tuyển sỉ",
              icon: "/image/cloud-network-svgrepo-com.svg",
            },
            AI_KICH_NEO: {
              name: "AI - Kích neo đội nhóm",
              icon: "/image/network-share-svgrepo-com.svg",
            },
            AI_COACHING: {
              name: "AI - Coaching mục tiêu",
              icon: "/image/learning-head-book-education-svgrepo-com.svg",
            },
          };

          const selectTopic = (key) => {
            // selectedTopic.value = key;
            window.location.href = `chat.html?question=${encodeURIComponent(
              key
            )}`;
          };

          return {
            selectedTopic,
            topics,
            selectTopic,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
